@import "../../style/base";

.viewContainer{
  padding: 10px 10px 60px 10px;
  min-height: 100%;
  background: #fff;

  h4{
    font-size: 2.2em;
    margin-bottom: 5px;

    +div{
      @extend .display_flex;
      @extend .alignItems_center;

      margin-bottom: 8px;
      i{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;

        img{
          width: 100%;
        }
      }

      span{
        color: #999;
        //margin-right: 20px;
      }
    }
  }

  >div{
    word-break:break-all;
  }
}
