@import "../../../style/base";

.articleList{
  width: 100%;
  background: #fff;
  padding: 8px 8px;


  >div{
    &:first-child{
      @extend .display_flex;
      @extend .alignItems_center;

      i{
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;

        img{
          width: 100%;
        }
      }


      span{
        font-weight: 600;
      }
    }
    &:last-child{
      height: 22px;
      span{
        float: right;
        color: #aaa;
      }
    }
  }

}
