
@import "../../../components/style/base";

.bar{
  @extend .display_flex;
  //margin: 5px;
  height: 30px;
  font-size: 1em;

  span{
    width: 25%;
    background: #333;
    color: #fff;
    line-height: 30px;
    text-align: center;
  }
  p{
    width: 60%;
    line-height: 30px;
    padding-left: 20px;
    input{
      border: 1px solid #ccc;
    }
  }
  button{
    width: 15%;

    img{
      width: 10px;
    }
  }
}
