@import "../../../style/base";
.userListContainer{
  @extend .display_flex;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid #cccccc;

  i{
    display: block;
    width: 30px;
    margin-right: 10px;
    img{
      border-radius: 50%;
      width: 100%;
    }
  }

  span{
    line-height: 30px;
  }
}
