@import "../../style/base";

.personalContainer {
  width: 100%;
  height: 100%;
  background: #fff;

  >div{
    @extend .display_flex;
    @extend .flexWrap_wrap;
    @extend .justifyContent_spaceAround;

    width: 100%;
    height: 100%;
    padding-top: 20px;

    >div{
      @extend .display_flex;
      @extend .alignItems_center;
      @extend .justifyContent_center;

      width: 45%;
      height: 45%;
      background: #457767;
      background-clip: content-box;

      p{
        font-size: 1.3em;
        color: #fff;
      }
    }
  }
}

.isNotLogin {
  @extend .display_flex;
  @extend .alignItems_center;
  @extend .justifyContent_center;

  width: 100%;
  height: 100%;

  p{
    font-size: 2em;
    color: #ccc;
  }

}
