@import "../../components/style/base";

.header{
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
}



.footer{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}


.content{
  //@extend .display_flex;
  //@extend .flexDirection_column;
  //@extend .justifyContent_spaceAround;

  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  background: #ccc;
  //overflow-y: auto;
  //overflow-x: hidden;
}
