@import "../../style/base";
.otherContainer{
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 5px;

  padding-bottom: 60px;

  >div{
    &:first-child{
      @extend .display_flex;
      border-bottom: 1px solid #333;

      i{
        display: block;
        width: 50px;
        margin: 0 20px;
        img{
          width: 100%;
          height: 50px;
          border-radius: 50%;
        }
      }
      span{
        line-height: 50px;
        font-size: 1.2em;
      }

      +div{

      }
    }
  }
}
